{% load static %}
<!DOCTYPE html>
<html lang="en" class="full">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="eIlNBHJx1UN-EqXAPcUXn8WwEoBjMAKiHzhuSsBbpW8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title itemprop="name">{% block page_title %}Kas man zvana{% endblock %} - Latvijas telefonu grāmata</title>
    <link rel="canonical" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}" itemprop="url">

    <meta name="description" content="{% block page_description %}{% endblock %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% static "css/main.css" as css %}
    {% include "website/utils/compress_css.html" with path=css %}
    <link rel="icon" href="{% static "favicon.png" %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% static "js/common.js" as js %}
    {% include "website/utils/compress_js.html" with path=js %}

    {% block extra_head %}{% endblock %}

    <script>
        $(space.start);
    </script>
</head>
<body>

    <div class="global-wrapper">

        <div class="picture-background">
            <div class="container">
            <div class="row padding1">
                <div class="col-md-4">
                    {% include "phone/_snippets/header-menu.html" %}
                </div>
                <div class="col-md-4 text-center">
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:#f4f4f4" class="padding05">
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                    <div class="col-md-4 text-right">
                        <ol class="breadcrumb global-menu">

                            <li>{% include "phone/_snippets/user.html" with user=request.user %}</li>
                            <li>
                                <a href="{% url "account_logout" %}?next={{ request.path }}">
                                    Atslēgties
                                </a>
                            </li>
                        </ol>
                    </div>
                {% endif %}
            </div>
        </div>
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block body-header %}
                        <div class="jumbotron text-center" id="front-jumbo">
                            <h1>Kas man zvana?</h1>
                            <p>Noskaidro nezināmā numura iespējamo īpašnieku</p>

                            <form class="form-inline" id="number-form" method="post" action=".">
                                <div class="form-group">
                                    <label class="sr-only" for="number">Ievadiet numuru</label>
                                    <div class="input-group">
                                        <input type="number"
                                               class="form-control input-lg"
                                               id="number"
                                               maxlength="8"
                                               placeholder="Ievadi numuru"
                                               data-title="Numuru meklētājs"
                                               data-content="Ja vēlies apskatīties citus numurus, ievadi tos šeit. Ievadei vari izmantot ciparu taustiņus"
                                                >
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary btn-lg">
                                                <span class="glyphicon glyphicon-earphone" style="color:#f4f4f4"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        </div>

        {% block page-body %}

            <div id="wrapper">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="page-body" class="col-md-10 col-md-offset-1">
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock %}

        <div class="container padding3">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    {% url "website:front" as link_url %}
                    {% if link_url == request.path %}
                        <span>Sākums</span>
                    {% else %}
                        <span><a href="{{ link_url }}" title="Sākums">Sākums</a></span>
                    {% endif %} |

                    {% url "phones:category_index" as link_url %}
                    <span><a href="{{ link_url }}" title="Numuri">Numuri</a></span> |

                    {% url "website:agreement" as link_url %}
                    {% if link_url == request.path %}
                        <span>Saistību atruna</span>
                    {% else %}
                        <span><a href="{{ link_url }}" title="Saistību atruna">Saistību atruna</a></span>
                    {% endif %} |

                    {% url "website:contacts" as link_url %}
                    {% if link_url == request.path %}
                        <span>Kontakti</span>
                    {% else %}
                        <span><a href="{{ link_url }}" title="Kontakti">Kontakti</a></span>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    <script type="text/template" id="template-table">

        <% if (_.isEmpty(rows)){ %>
        <p><%- emptyMessage %></p>
        <% } else { %>
        <table class="table table-bordered table-hover">
            <% _.each(rows, function(row){ %>
            <tr>
                <th><%- row[1] %></th>
                <td><%- row[0] %></td>
            </tr>
            <% }); %>
        </table>
        <% } %>
    </script>

    <script type="text/template" id="template-modal">
        <div class="modal fade" id="modal" tabindex="-1" role="dialog"
             aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Aizvērt">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel">
                            <%- modalTitle %>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <%= modalBody %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm"
                                data-dismiss="modal">Aizvērt
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </script>

    <div id="modal-wrapper"></div>

</body>
</html>
