{% extends "website/base.html" %}
{% load static %}

{% block body %}

    {% include "phone/_snippets/login-block.html" %}


    <div class="row {% if request.user.is_authenticated %}padding2{% endif %}">
        <div class="col-md-8">

            {% include "phone/comment/latest_comment_block.html" with object_list=latest_comments %}

        </div>

        <div class="col-md-4 text-center">

            <p class="large-icon">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </p>
            <h2>Nepalaid neko garām</h2>
            <p>
                Seko līdzi sev interesējošiem numuriem un saņem ziņu tiklīdz mēs par tiem uzzinām kautko jaunu.
            </p>

            <p class="large-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </p>
            <h2>Vērtē numurus</h2>
            <p>
                Ar savu balsojumu maini numuru reitingu - lai visi zinātu vai šo numuru celt vai necelt.
            </p>

            <p class="large-icon">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </p>
            <h2>Verificē savu numuru</h2>
            <p>
                (Drīzumā) Verificē savu numuru un pārvaldi to, uzzini sava numura sekotājus un noskaidro kāpēc,
                publicē oficiālu kontaktinformāciju.
            </p>

            <h2 class="text-left padding1">
                Statistika
            </h2>
                <div class="text-left">
                    <p>
                        Pavisam reģistrējušies {{ total_registered_count }} lietotāji no tiem {{ this_month_registered }} šomēnes.
                    </p>
                    <p>
                        Šomēnes publicēti {{ this_month_comments }} komentāri par {{ this_month_numbers }} numuriem.
                    </p>
                </div>


            <div class="text-right">
                <a href="{% url "phones:latest-comments" %}">
                    Jaunākie komentāri
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>


{% if not request.user.is_authenticated %}
    <div class="row text-center padding1">

        <div class="col-md-12">
            <h1>Saņem jaunumus</h1>
            <hr>
            <p>
                Ja atstāsi mums savu epastu - varēsim paziņot par mūsu jaunumiem.
            </p>

            <form class="text-center form-inline" method="post" action="{% url "website:email_subscribe" %}" style="display: inline-block">
                {% csrf_token %}
                    <input type="email" class="form-control input-lg" id="id_email" name="email" placeholder="Tavs epasts">
                    <button type="submit" class="btn btn-primary btn-lg head">
                        Parakstīties
                    </button>
            </form>
        </div>
    </div>
    <div class="padding2"></div>
{% endif %}

{% endblock %}
{% block extra_head %}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}
