{% extends "website/base.html" %}
{% load static %}

{% block body %}

    {% include "phone/_snippets/login-block.html" %}

    <div class="row {% if request.user.is_authenticated %}padding2{% endif %}">
        <div class="col-md-8 text-center">

            <h1 class="text-left">
                Statistika
            </h1>
            <hr>

            {% spaceless %}
                {% for user in last_15_users %}
                    <a href="{% include "phone/_snippets/user_link.html" %}" data-toggle="tooltip" data-placement="top" title="{% include "phone/_snippets/user.html" %}">
                        {% include "website/utils/avatar.html" with size="30" avatar=user.socialaccount_set.first.get_avatar_url extra_class="img-circle" %}
                    </a>
                {% endfor %}

                <div class="padding1">
                    <p>
                        Pavisam reģistrējušies {{ total_registered_count }} lietotāji no tiem {{ this_month_registered }} šomēnes.
                    </p>
                    <p>
                        Šomēnes publicēti {{ this_month_comments }} komentāri par {{ this_month_numbers }} numuriem.
                    </p>
                </div>

            {% endspaceless %}
        </div>

        <div class="col-md-4">

            <h1>{% include "phone/_snippets/user.html" with user=last_comment.author %}</h1>
            <hr>

            {% include "website/includes/comment-card.html" with comment=last_comment from_user_page=True truncate=True %}

        </div>
    </div>

    <div class="row padding3 text-center">
        <div class="col-md-4">
            <p class="large-icon">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </p>
            <h2>Nepalaid neko garām</h2>
            <p>
                Seko līdzi sev interesējošiem numuriem un saņem ziņu tiklīdz mēs par tiem uzzinām kautko jaunu.
            </p>
        </div>
        <div class="col-md-4">
            <p class="large-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </p>
            <h2>Vērtē numurus</h2>
            <p>
                Ar savu balsojumu maini numuru reitingu - lai visi zinātu vai šo numuru celt vai necelt.
            </p>
        </div>
        <div class="col-md-4">
            <p class="large-icon">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </p>
            <h2>Verificē savu numuru</h2>
            <p>
                (Drīzumā) Verificē savu numuru un pārvaldi to, uzzini sava numura sekotājus un noskaidro kāpēc,
                publicē oficiālu kontaktinformāciju.
            </p>
        </div>
    </div>

{% if not request.user.is_authenticated %}
    <div class="row text-center padding1">

        <div class="col-md-12">
            <h1>Saņem jaunumus</h1>
            <hr>
            <p>
                Ja atstāsi mums savu epastu - varēsim paziņot par mūsu jaunumiem.
            </p>

            <form class="text-center form-inline" method="post" action="{% url "website:email_subscribe" %}" style="display: inline-block">
                {% csrf_token %}
                    <input type="email" class="form-control input-lg" id="id_email" name="email" placeholder="Tavs epasts">
                    <button type="submit" class="btn btn-primary btn-lg head">
                        Parakstīties
                    </button>
            </form>
        </div>
    </div>
    <div class="padding2"></div>
{% endif %}

{% endblock %}
{% block extra_head %}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}
