{% extends "website/base.html" %}
{% load static %}

{% block body %}

    {% include "phone/_snippets/login-block.html" %}

    <div class="row padding3">
        <div class="col-md-4">
            <p class="text-center" style="font-size:50pt">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </p>
            <h1>Nepalaid garām</h1>
            <p>
                Seko līdzi sev interesējošiem numuriem un saņem ziņu tiklīdz mēs par tiem uzzinām kautko jaunu.
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-size:50pt">
                <i class="fa fa-users" aria-hidden="true"></i>
            </p>
            <h1>Vērtē numurus</h1>
            <p>
                (Drīzumā) Ar savu balsojumu maini numuru reitingu - lai visi zinātu vai šo numuru celt vai necelt.
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-center" style="font-size:50pt">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </p>
            <h2>Verificē savu numuru</h2>
            <p>
                (Drīzumā) Verificē savu numuru un pārvaldi to, uzzini sava numura sekotājus un noskaidro kāpēc,
                publicē oficiālu kontaktinformāciju.
            </p>
        </div>
    </div>

    <div class="row padding4">
        <div class="col-md-8">
            <h1>
                Jaunākais Portālā
            </h1>
            <hr>
            <div class="row">
                {% for item in latest_comments %}
                    <div class="col-md-6">
                        {% if forloop.counter < 4 %}
                            <div class="padding0-1">
                                <a href="{{ item.author.get_absolute_url }}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    {% include "phone/_snippets/user.html" with user=item.author %}
                                </a> par numuru
                                <a href="{% url "phones:details" number=item.phone %}">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {{ COUNTRY_PREFIX }} {{ item.phone }}
                                </a>
                            </div>
                            <div class="padding0-1">
                                {% if item.is_admin %}
                                    {{ item.body|safe }}
                                {% else %}
                                    {{ item.body }}
                                {% endif %}
                                <p class="padding1">
                                    {{ item.insert_date }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h1>
                Lietotāji
            </h1>
            <hr>
            {% for user in latest_users %}
                <div class="padding0-1">
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ user.get_absolute_url }}">
                                {% include "website/utils/avatar.html" with size="40" avatar=user.socialaccount_set.first.get_avatar_url extra_class="media-object img-circle" %}
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <a href="{{ user.get_absolute_url }}">
                                    {% include "phone/_snippets/user.html" %}
                                </a>
                            </h5>
                            <p class="small">
                                Pievienojās {{ user.date_joined }}
                            </p>

                        </div>
                    </div>



                </div>
            {% endfor %}
        </div>
    </div>

{% if not request.user.is_authenticated %}
    <div class="row text-center padding1">

        <div class="col-md-12">
            <h1>Saņem jaunumus</h1>
            <hr>
            <p>
                Ja atstāsi mums savu epastu - varēsim paziņot par mūsu jaunumiem.
            </p>

            <form class="text-center form-inline" method="post" action="{% url "website:email_subscribe" %}" style="display: inline-block">
                {% csrf_token %}
                    <input type="email" class="form-control input-lg" id="id_email" name="email" placeholder="Tavs epasts">
                    <button type="submit" class="btn btn-primary btn-lg head">
                        Parakstīties
                    </button>
            </form>
        </div>
    </div>
    <div class="padding2"></div>
{% endif %}

{% endblock %}
