<div class="media {% if not comment.author %} anonymous-comment{% endif %}">
    {% if comment.author and not from_user_page %}
        <div class="media-left">
            <a href="{{ comment.author.get_absolute_url }}">
                {% include "website/utils/avatar.html" with size="64" avatar=comment.author.socialaccount_set.first.get_avatar_url extra_class="img-circle" %}
            </a>
        </div>
    {% endif %}
    <div class="media-body">

        {% spaceless %}
            <h4 class="media-heading">
                {% if not from_user_page %}
                    {% if comment.author %}
                        <a href="{% include "phone/_snippets/user_link.html" with user=comment.author %}">
                            {% include "phone/_snippets/user.html" with user=comment.author %}
                        </a>
                    {% else %}
                        Anonīms apmeklētājs
                    {% endif %}
                {% else %}
                    <a href="{{ comment.phone.get_absolute_url }}">
                        {{ COUNTRY_PREFIX }} {{ comment.phone }}
                    </a>
                {% endif %}
                <small>@ {{ comment.insert_date|date }}</small>
                {% if show_number %}
                    <br>
                    <div class="padding1">
                        <small>
                            Komentēja par numuru <a href="{{ comment.phone.get_absolute_url }}">{{ COUNTRY_PREFIX }} {{ comment.phone }}</a>
                        </small>
                    </div>

                {% endif %}
            </h4>
        {% endspaceless %}

        <div>
            {% if comment.is_admin %}
                {% if truncate %}
                    {{ comment.body|truncatechars:"200"|safe|linebreaks }}
                {% else %}
                    {{ comment.body|safe|linebreaks }}
                {% endif %}
            {% else %}
                {% if truncate %}
                    {{ comment.body|truncatechars:"200"|linebreaks }}
                {% else %}
                    {{ comment.body|linebreaks }}
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>
