
<div class="head" id="cookiewarning">
    <div class="container">
        <div class="row padding1 small">
            <div class="col-md-12">

            </div>
            <div class="col-md-6 col-md-offset-2 text-left">
                Šī tīmekļa vietne izmanto sīkdatnes (angļu val. "cookies").
                Lietojot šo vietni, vai klikšķinot uz "Es Piekrītu" Jūs dodat piekrišanu
                mums tās izmantot.
            </div>
            <div class="col-md-2 text-right">
                <button class="btn small btn-secondary">
                    Es piekrītu
                </button>
            </div>
        </div>
    </div>
</div>
