{% extends "phone/base.html" %}
{% load extra_tags %}

{% block page_title %}
    {% if category %}
        Numuri kas sākas ar {{ category }}...
    {% else %}
        Izvēlies numura sākuma ciparus
    {% endif %}
{% endblock %}

{% block body %}
<div class="panel" style="padding: 30pt">

    <h1>
        Telefonu grāmata<br>
        {% if category %}
            <small>Numuri kas sākas ar {{ category }}...</small>
        {% else %}
            <small>Izvēlies numura sākuma ciparus</small>
        {% endif %}
    </h1>

    <br>

    <div class="">
        {% if namespace %}
            <div class="row">
                <form class="form-inline text-center">
                    <div class="form-group">
                        <label for="form-selector">
                            <h4>Izvēlies telefona numura sākuma ciparus</h4>
                        </label>
                        <select class="form-control" name="form_selector" id="id_form_selector">
                            {% for item in namespace %}
                                <option value="{% if item|length_is:8 %}
                                    {% url "phones:details" number=item %}
                                {% else %}
                                    {% url "phones:category" category=item %}
                                {% endif %}">
                                    {% if item|length_is:8 %}
                                        {{ item }}
                                    {% else %}
                                        {{ item }}...
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                {% for item in namespace %}
                    <div class="col-md-4 padding0-1 text-center">
                        {% if item|length_is:8 %}
                            <a href="{% url "phones:details" number=item %}" class="btn btn-lg btn-secondary">
                                <h4 style="font-weight: normal">{{ item }}</h4>
                            </a>
                        {% else %}
                            <a href="{% url "phones:category" category=item %}" class="btn btn-lg btn-secondary">
                                <h1 style="font-weight: normal">{{ item }}...</h1>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Šajā kategorijā diemžēl nav neviena reģistrēta tālruņa.
        {% endif %}

    </div>

{% endblock %}
{% block extra_head %}

    <script>

        $(function(){

            var $selector = $("#id_form_selector");
            $selector.on("change", function(){
                window.location.replace($selector.val());
            });

        });

    </script>
{% endblock %}
