{% extends "phone/base.html" %}
{% load extra_tags %}

{% block page_title %}
    {% if category %}
        Numuri kas sākas ar {{ category }}...
    {% else %}
        Izvēlies numura sākuma ciparus
    {% endif %}
{% endblock %}

{% block body-header %}
    <div class="jumbotron text-center" id="front-jumbo">
        <h1>
            Telefonu grāmata
        </h1>
        <p>
            {% if category %}
                Numuri kas sākas ar {{ category }}...
            {% else %}
                Izvēlies numura sākuma ciparus
            {% endif %}
        </p>

    </div>
{% endblock %}
{% block body %}
        {% if namespace %}
            <div class="row padding4">
                <div class="col-md-12">
                    <h1>
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        Numuru kategorijas
                    </h1>
                    <p>
                        Izvēlieties interesējošo kategoriju pēc meklētā numura pirmajiem cipariem.
                    </p>
                    <hr>
                    {% for item in namespace %}
                        <div class="col-md-4 padding0-1 text-center">
                            {% if item|length_is:8 %}
                                <a href="{% url "phones:details" number=item %}" class="btn btn-lg btn-secondary">
                                    <h2>{{ item }}</h2>
                                </a>
                            {% else %}
                                <a href="{% url "phones:category" category=item %}" class="btn btn-lg btn-secondary">
                                    <h2>{{ item }}...</h2>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            Šajā kategorijā diemžēl nav neviena reģistrēta tālruņa.
        {% endif %}

{% endblock %}
{% block extra_head %}

    <script>

        $(function(){

            var $selector = $("#id_form_selector");
            $selector.on("change", function(){
                window.location.replace($selector.val());
            });

        });

    </script>
{% endblock %}
