{% extends "phone/base.html" %}
{% load extra_tags %}

{% block page_title %}{{ COUNTRY_PREFIX }} {{ number }}{% endblock %}

{% block page_description %}{{ object.visible_comments.0.body|striptags }}{% endblock %}

{% block extra_head %}
    <script>

        "use strict";

        var phone = {
            "id": "{{ number }}"
        };

    </script>
{% endblock %}

{% block body-header %}
    <div class="jumbotron text-center" id="front-jumbo">
        <h1>
            <a href="{{ request.path }}" title="{{ number }}">
                {{ COUNTRY_PREFIX }} {{ number }}
            </a>
        </h1>
        <div class="row">
                <a href="" class="btn btn-link btn-vote">
                    Celt 0
                    <i class="fa fa-thumbs-up" style="color:#f4f4f4" aria-hidden="true"></i>
                </a>
                <a href="" class="btn btn-link btn-vote">
                    <i class="fa fa-thumbs-down" style="color:#f4f4f4" aria-hidden="true"></i>
                    Necelt 0
                </a>

        </div>
    </div>
{% endblock %}
{% block body %}

    {% include "phone/_snippets/login-block.html" %}

    <div class="row">
        <div class="col-md-12 {% if request.user.is_authenticated %}padding4{% endif %}">

            <div class="row">
                <div class="col-md-8">
                    <h1>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Apmeklētāju komentāri
                    </h1>
                    <hr>
                    {% if object.visible_comments %}
                         <div class="padding1">
                            {% for comment in object.visible_comments %}
                                {% if not forloop.first %}<hr>{% endif %}
                                <div class="{% if not comment.author %} anonymous-comment{% endif %}">
                                    <div class="lead">
                                        {% if comment.is_admin %}
                                            {{ comment.body|safe|linebreaks }}
                                        {% else %}
                                            {{ comment.body|linebreaks }}
                                        {% endif %}
                                    </div>

                                    {% spaceless %}
                                        <div class="meta">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            {% if comment.author %}
                                                <a href="{{ comment.author.get_absolute_url }}">
                                                    {% include "phone/_snippets/user.html" with user=comment.author %}
                                                </a>
                                            {% else %}
                                                Anonīms apmeklētājs
                                            {% endif %}@ {{ comment.insert_date|date }}
                                        </div>
                                    {% endspaceless %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Pagaidām vēl nav informācijas.</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>
                        <i class="fa fa-database" aria-hidden="true"></i>
                        Statuss
                    </h1>
                    <hr>
                    <p class="padding1">
                        {% if number_in_db %}
                            Dati ir iekļauti mūsu datu bāzē.
                        {% else %}
                            Mums diemžēl joprojām nav nekādas informācijas par šo numuru, bet labprāt
                            pievienosim to mūsu datubāzei tiklīdz iegūsim jebkādu informāciju no mūsu
                            apmeklētājiem.
                        {% endif %}
                    </p>
                </div>
            </div>


            <form method="post" action="{% url "phones:add_comment" %}" class="padding2" id="comment-form" style="display: none">

                <div class="padding0-1">
                    <h1>
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        Padalies ar mums visiem ja Tev ir bijusi kāda pieredze ar šo numuru.
                    </h1>
                </div>

                {% csrf_token %}

                <input type="hidden" name="phone" value="{{ number }}">

                <div class="form-group{% if form.body.errors %} has-error{% endif %}">
                    <label for="{{ form.body.auto_id }}" style="display: none">Komentārs</label>
                    {{ form.body }}
                    {% if form.body.errors %}
                        <span id="error-{{ form.body.auto_id }}" class="help-block">
                            {% for error in form.body.errors %}
                                {{ error }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                <p class="small">
                    * Lai komentārs parādītos publiski dienas laikā pēc tā saglabāšanas tev būs
                    jāpieslēdzas ar sociālo tīklu kontu.
                </p>

                <button type="submit" class="btn btn-primary" id="comment-form-submit">
                    Saglabāt
                </button>

            </form>
        </div>

        {% if object %}
            <div class="col-md-12">
                <ol class="breadcrumb text-center" style="background: none">
                    <li>Tālruņa kategorijas</li>
                    <li><a href="{% url "phones:category" object.cat_1 %}">{{ object.cat_1|slice:"0:2" }}</a></li>
                    <li><a href="{% url "phones:category" object.cat_2 %}">{{ object.cat_2|slice:"2:4" }}</a></li>
                    <li><a href="{% url "phones:category" object.cat_3 %}">{{ object.cat_3|slice:"4:6" }}</a></li>
                </ol>
            </div>
        {% endif %}

    </div>



{% endblock %}
{% block sidebar %}{% include "phone/_snippets/phone-sidebar.html" %}{% endblock %}
