{% extends "phone/base.html" %}
{% load extra_tags %}

{% block page_title %}{{ COUNTRY_PREFIX }} {{ number }}{% endblock %}

{% block page_description %}{{ comments.0.comment|striptags }}{% endblock %}

{% block extra_head %}
    <script>

        "use strict";

        var phone = {
            "id": "{{ number }}"
        };

    </script>
{% endblock %}

{% block body %}

    <div class="row" style="background:#f5f5f5;">
        <div class="col-md-12">

            {% include "phone/breadcrumbs.html" %}

            <h1 class="padding1 text-center">
                <span>
                    <a href="{{ request.path }}" title="{{ number }}">
                        {{ COUNTRY_PREFIX }} {{ number }}
                    </a>
                </span>
                <br> Zvana no šī nepazīstamā numura?
            </h1>

            <div class="row padding1">
                <div class="col-md-7">
                    {% if object.visible_comments %}
                        <h4>Apmeklētāju komentāri</h4>
                        <div class="padding1">
                            {% for comment in object.visible_comments %}
                                {% if not forloop.first %}<hr>{% endif %}
                                <div>
                                    <div class="lead">
                                        {% if comment.is_admin %}
                                            {{ comment.body|safe|linebreaks }}
                                        {% else %}
                                            {{ comment.body|linebreaks }}
                                        {% endif %}
                                    </div>

                                    <div class="meta">
                                        {% include "phone/_snippets/user.html" with user=comment.author %} @
                                        {{ comment.insert_date }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-5">
{#                    <div class="text-center">#}
{#                        <p>#}
{#                            Saņem ziņu kad par šo numuru parādās jaunumi#}
{#                        </p>#}
{#                        <p>#}
{#                            <a href="#" class="btn btn-sm btn-primary">#}
{#                                <i class="fa fa-eye" aria-hidden="true"></i>#}
{#                                Pieteikties#}
{#                            </a>#}
{#                        </p>#}
{#                    </div>#}
                </div>
            </div>


            <form method="post" action="{% url "phones:add_comment" %}" class="panel panel-default well" id="comment-form" style="display: none">

                <div class="text-center padding0-1">
                    <h4>Tev ir zināms kas ir šis par numuru? Pastāsti par to visiem.</h4>
                </div>

                {% csrf_token %}

                <input type="hidden" name="phone" value="{{ number }}">

                <div class="form-group{% if form.body.errors %} has-error{% endif %}">
                    <label for="{{ form.body.auto_id }}" style="display: none">Komentārs</label>
                    {{ form.body }}
                    {% if form.body.errors %}
                        <span id="error-{{ form.body.auto_id }}" class="help-block">
                            {% for error in form.body.errors %}
                                {{ error }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary" id="comment-form-submit">
                    Saglabāt
                </button>

            </form>
        </div>
    {% include "phone/breadcrumbs.html" %}
    </div>



{% endblock %}
{% block sidebar %}{% include "phone/_snippets/phone-sidebar.html" %}{% endblock %}
