{% load account %}
{% load socialaccount %}

{% if not request.user.is_authenticated %}
    <div class="row padding1">
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
            <div class="col-md-2 {% if forloop.first %}col-md-offset-2{% endif %}">
                {% if provider.id == 'twitter' %}
                    <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}&next={{ request.path }}"
                       class="btn btn-primary btn-sm btn-block" style="#354254background:#1B95E0;border-color:#1B95E0;">
                        {{ provider.name }}
                    </a>
                {% endif %}
                {% if provider.id == 'draugiem' %}
                    <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}&next={{ request.path }}"
                       class="btn btn-primary btn-sm btn-block" style="background:#E16C00;border-color:#E16C00;">
                        {{ provider.name }}
                    </a>
                {% endif %}
                {% if provider.id == 'facebook' %}
                    <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}&next={{ request.path }}"
                       class="btn btn-primary btn-sm btn-block" style="background: #4267b2">
                        {{ provider.name }}
                    </a>
                {% endif %}
                {% if provider.id == 'google' %}
                    <a href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}&next={{ request.path }}"
                       class="btn btn-primary btn-block" style="background: #4285F4">
                        {{ provider.name }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        <div class="col-md-6 text-left">
            <h5 class="h6">
                Pieslēdzoties Jūs piekrītat mūsu <a href="{% url "website:agreement" %}">saistību atrunai</a>.
            </h5>
        </div>
    </div>
{% endif %}
