<div id="phone">

    <div class="panel">
        <br>
        <form class="form-inline" id="number-form">
            <div class="form-group">
                <label class="sr-only" for="number">Ievadiet numuru</label>
                <div class="input-group">
                    <input type="text"
                           class="form-control input-lg"
                           id="number"
                           placeholder="Ievadiet numuru"
                           data-title="Numuru meklētājs"
                           data-content="Ja vēlies apskatīties citus numurus, ievadi tos šeit. Ievadei vari izmantot ciparu taustiņus"
                            >
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <br>
    </div>


    <div class="panel" id="pad">
        <table class="table table-bordered">
            <tr>
                <td id="phonekey1">
                    <h1>1</h1>
                    <small>ABC</small>
                </td>
                <td id="phonekey2">
                    <h1>2</h1>
                    <small>DEF</small>
                </td>
                <td id="phonekey3">
                    <h1>3</h1>
                    <small>GHI</small>
                </td>
            </tr>
            <tr>
                <td id="phonekey4">
                    <h1>4</h1>
                    <small>JKL</small>
                </td>
                <td id="phonekey5">
                    <h1>5</h1>
                    <small>MNO</small>
                </td>
                <td id="phonekey6">
                    <h1>6</h1>
                    <small>PQR</small>
                </td>
            </tr>
            <tr>
                <td id="phonekey7">
                    <h1>7</h1>
                    <small>STU</small>
                </td>
                <td id="phonekey8">
                    <h1>8</h1>
                    <small>VWX</small>
                </td>
                <td id="phonekey9">
                    <h1>9</h1>
                    <small>YZ</small>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td id="phonekey0">
                    <h1>0</h1>
                    <small></small>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>

</div>
