{% extends "base.html" %}

{% block page_title %}Saistību atruna{% endblock %}

{% block body %}
    <div class="panel" style="padding: 3em 3em 2em">
        <div class="panel panel-default">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Lūdzu izlasiet pirms pieprasiet dzēst informāciju!</h3>
                    <br>
                    <div>
                        Šī mājas lapa satur pilnīgi visus skaitļus no
                        <a href="/numurs/00000000/">00000000</a> līdz
                        <a href="/numurs/99999999/">99999999</a>. Pat ja jums
                        liekas ka sagadīšanās dēļ tas sakrīt ar jūsu tālruņa
                        numuru, tā ir tikai sagadīšanās kas mums nevar uzlikt
                        nekādus pienākumus vai radīt jebkādas saistības.
                    </div>
                    <br>
                    <div>
                        Skaitlis bez papildus norādēm nevar tikt uzskatīts par
                        personas datiem Fizisko personu datu aizsardzības likuma
                        izpratnē. Neviens skaitlis, tāpat kā neviens burts no
                        alfabēta, nevar ekskluzīvi piederēt jums vai kādai citai
                        personai.
                    </div>
                    <br>
                    <div>
                        Ja jūs nevēlaties afišēt skaitļa saistību ar savu
                        personu - nekomentējiet. Taupiet gan savu gan mūsu
                        laiku.
                    </div>
                    <br>
                    <div>
                        Ar cieņu - administrācija!
                    </div>
                </li>
            </ul>
        </div>


    </div>
{% endblock %}
