* {
    outline: none !important;
    font-family: 'Roboto', "proxima-nova", "Proxima Nova", sans-serif;
    color: #334252;
}

.full {
    height: 100%;
}

body {
    position: relative;
    background-color: #f4f4f4;
}

.picture-background {
    background-image: url(/static/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#wrapper {
    height: 100%;
    background: #ffffff !important;
}

#front-wrapper {
    width: 100%;
    text-align: center;
}

#front-jumbo, #front-jumbo p {
    background:none;
    color: #f4f4f4 !important;
}
#front-jumbo a {
    color: #f4f4f4;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter !important;
}

#phone {
    text-align: center;
    margin: auto;
}

#phone table td {
    cursor: pointer;
}

.green {
    color: white;
    background: seagreen;
}

.opacity {
    opacity: 0.9;
}

#operator {
    padding: 20px 0
}

#agreement {
    padding-top: 10%
}

#contacts {
    padding-top: 25%
}

.global-menu, .global-menu li, .global-menu a{
    background: none;
    color: #fff !important;
}

.jumbo-wrapper a {
    color: #fff
}

.overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#page-body h1 span {
    font-size: 45pt;
}

#page-body h1 a:hover {
    text-decoration: none;
}

.padding0-1 {
    padding: 0 0 1em;
}

.padding05 {
    padding: 0.5em 0;
}

.padding1 {
    padding: 1em 0;
}

.padding2 {
    padding: 2em 0;
}

.padding3 {
    padding: 3em 0;
}

.padding4 {
    padding: 4em 0;
}

.btn, input, textarea, select, .well {
    border-radius: 0 !important;
}

.borderless {
    border: 0 !important;
    border-image-width:0;
}

.anonymous-comment {
    opacity:0.6;
}
