{% extends "blog/base.html" %}

{% block page_description %}
    {{ object.body|truncatechars:"300" }}
{% endblock %}

{% block page_title %}
    {{ object.title|truncatechars:"100" }}
{% endblock %}

{% block extra_head %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "{% url "website:front" %}",
                        "name": "Sākums"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "{% url "blog:front" %}",
                        "name": "Blogs"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "item": {
                        "@id": "{{ request.path }}",
                        "name": "{{ object.title }}"
                    }
                }
            ]
        }
    </script>
{% endblock %}

{% block blog-main %}

    <div>
        <h1>{{ object.title }}</h1>
        <hr>

        <p class="padding1">
            <a href="{% url "blog:front" %}">Blogs</a> |
            Publicēts: {{ object.insert_date|date }}
        </p>

        <div class="padding1">
            {{ object.body|linebreaks }}
        </div>

    </div>

{% endblock %}
