{% extends "website/base.html" %}

{% block page_title %}{% include "phone/_snippets/user.html" with user=object %}{% endblock %}

{% block body-header %}
    <div class="jumbotron text-center" id="front-jumbo">

        <div>
            {% include "website/utils/avatar.html" with size="100" avatar=user.socialaccount_set.first.get_avatar_url extra_class="img-circle" %}
        </div>

        <h1>
            <a href="{{ object.get_absolute_url }}">
                {% include "phone/_snippets/user.html" with user=object %}
            </a>
        </h1>
        <p>Piereģistrējās {{ object.date_joined|date }}</p>
    </div>
{% endblock %}
{% block body %}
    {% include "phone/_snippets/login-block.html" %}

    <div class="row">
        <div class="col-md-12">
            <h1>Komentāri</h1>
            {% if obj.comment_set.all %}
            {% else %}
                <p>Vēl nav neviena komentāra</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
