{% extends "website/base.html" %}
{% load i18n %}

{% block page_title %}Kontakti{% endblock %}

{% block body-header %}
    <div class="jumbotron text-center" id="front-jumbo">
        <h1>
            <a href="{{ request.path }}">
                Nevarējām iegūt epastu
            </a>
        </h1>
    </div>
{% endblock %}

{% block body %}
    <div class="row padding2">
        <div class="col-md-12 text-center">
            <h1></h1>
            <p>Lai pilnvērtīgi varētu lietot mūsu pakalpojumus, lūdzu ievadiet savu epasta adresi.</p>
        </div>
        <div class="col-md-6 col-md-offset-3 padding2">
            {% include "website/includes/form.html" with submit_text="Saglabāt epastu" %}
        </div>
    </div>
{% endblock %}

{% block extra_head %}

    <script>
        $(function(){
            $("input, textarea").addClass("input-lg");
            $(".btn").addClass("btn-lg");
        });
    </script>

{% endblock %}
