{% extends "website/base.html" %}

{% block page_title %}Saistību atruna{% endblock %}

{% block body %}
    <div class="padding3">
        <h1>Saistību atruna</h1>
        <hr>
        <p class="padding0-1">
            Informācijas ievietotājs ir atbildīgs par ievietotās informācijas saturu.
        </p>
        <p class="padding0-1">
            Komentāri ar nepieņemamu saturu tiks dzēsti, autoram tiks bloķēta pieeja lapai, dati problēmu
            gadījumā nodoti policijai.
        </p>
        <p class="padding0-1">
            Jebkāda veida nesaskaņota reklāma tiks dzēsta. Izņēmums - saite, kas papildina informāciju vai diskusiju.
        </p>
        <p class="padding0-1">
            Neievietojiet informāciju citas personas vārdā.
        </p>
        <p class="padding0-1">
            Jebkura informācija var tikt dzēsta, nesniedzot nekādus paskaidrojumus.
        </p>
        <p class="padding0-1">
            Šie noteikumi var tikt mainīti bez brīdinājuma.
        </p>
        <p class="padding0-1">
            <a href="{% url "website:takedown" %}">
              Lūdzu izlasiet pirms pieprasiet dzēst informāciju!
            </a>
        </p>
    </div>
{% endblock %}
