{% extends "website/base.html" %}

{% block page_title %}Saistību atruna{% endblock %}

{% block body %}
    <div class="padding3">
        <h1>Lūdzu izlasiet pirms pieprasiet dzēst informāciju!</h1>
        <hr>
        <p class="padding0-1">
            Šīs vietnes saturs ietver pilnīgi visus skaitļus no <a href="/numurs/00000000/">00000000</a> līdz
            <a href="/numurs/99999999/">99999999</a>. Jebkāda sakritība ar Jūsu tālruņa numuru ir tikai
            sagadīšanās, kas administratoram neuzliek nekādus pienākumus un nerada nekādas saistības.
        </p>
        <p class="padding0-1">
            Skaitlis bez papildus identificējošām norādēm nevar tikt uzskatīts par personas datiem Fizisko
            personu datu aizsardzības likuma izpratnē. Ne skaitlis, ne alfabēta burts nevar ekskluzīvi piederēt
            nedz jums nedz arī kādai citai personai.
        </p>
        <p class="padding0-1">
            Ja jūs nevēlaties uzsvērt skaitļa saistību ar savu personu - nekomentējiet. Taupiet gan savu gan mūsu
            laiku.
        </p>
        <p class="padding0-1">
            Ar cieņu - administrācija!
        </p>
    </div>

{% endblock %}
