<h1>
    <i class="fa fa-comments" aria-hidden="true"></i>
    Pēdējie komentētie numuri
</h1>
<hr>
<div class="padding0-1">
    {% for comment in object_list %}
        {% if not forloop.first and not forloop.counter == 2 %}<hr>{% endif %}
        {% if forloop.counter == 2 %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-gw-b+2p-3v-1b"
                 data-ad-client="ca-pub-5690991418198416"
                 data-ad-slot="1566886288"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        {% endif %}
        {% include "website/includes/comment-card.html" with from_user_page=True show_author=True %}
    {% endfor %}
</div>
