{% extends "phone/base.html" %}
{% load extra_tags %}
{% load static %}

{% block page_title %}Pēdējie komentētie numuri{% endblock %}

{% block page_description %}{{ object.visible_comments.first.body|striptags }}{% endblock %}

{% block body %}

    {% include "phone/_snippets/login-block.html" %}

    <div class="row">
        <div class="col-md-12 {% if request.user.is_authenticated %}padding4{% endif %}">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% include "phone/comment/latest_comment_block.html" %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

