{% extends "phone/base.html" %}

{% block body %}

    <div class="panel" style="padding: 2em 2em 1em;">
        <h1>
            <span>
                {{ object }}
            </span>
        </h1>

        <hr>

        <p class="lead">
            Komentāru mēs pieglabājām, bet lai to publicētu pieslēdzies sociālo tīklu kontu.
            Neuztraucies - tas aizņems tikai dažas sekundes.
        </p>


        <p class="lead">
            Reģistrēti lietotāji var:<br>
            * sekot līdzi sev interesējošiem numuriem.<br>
            * verificēt savu numuru un to pārvaldīt.
            * mainīt numuru reitingu
        </p>

    </div>
{% endblock %}
