{% extends "phone/base.html" %}

{% block body-header %}
    <div class="jumbotron text-center" id="front-jumbo">
        <h1>
            <a href="{% url "phones:details" number=object.phone.phone %}" title="{{ object.phone }}">
                {{ COUNTRY_PREFIX }} {{ object.phone }}
            </a>
        </h1>
        <p>Zvana no šī nepazīstamā numura?</p>
    </div>
{% endblock %}

{% block body %}

    {% if request.user.is_authenticated %}
        <div class="padding4">
            <h1>
                Komentārs tika publicēts
            </h1>
            <hr>
            <p>
                Tālrunis: <a href="{% url "phones:details" number=object.phone.phone %}">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {{ object.phone.phone }}
                </a>
            </p>
            <p>
                {{ object }}
            </p>
        </div>

    {% else %}
        <div class="text-center padding3">

            <div class="lead">
                <p>
                    Komentāru mēs saglabājām, bet lai to publicētu pieslēdzies ar sociālo tīklu kontu.
                    Neuztraucies - tas aizņems tikai dažas sekundes.
                </p>
            </div>

            {% include "phone/_snippets/login-block.html" %}

            <div class="lead padding1">
                <p>
                    Reģistrēti lietotāji var:<br>
                    * sekot līdzi sev interesējošiem numuriem.<br>
                    * mainīt reitingu - novērtēt ar celt/necelt (drīzumā)<br>
                    * verificēt savu numuru un to pārvaldīt (drīzumā)
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
